@page
@model ContactModel
@{
    ViewData["Title"] = "My Bookshelf";
}
<h2>@ViewData["Title"]</h2>

<div>
    <select name="searchType">
        <option><text><b>Search By:</b></text></option>
        <option>Author</option>
        <option>ISBN</option>
        <option>Notes</option>
        @*<option>Read</option>*@
        <option>Title</option>
    </select>
    <input type="text" name="searchText" value="" />
    <button type="button" name="searchButton">Search</button>
</div>

@foreach (var element in Model.Books)
{
    <div class="card">
        <div class="container">
            <p><span class="title">@(element.Title)</span> @(element.Authors.Length > 0 ? ("by: " + element.Authors) : "") @(element.Editors.Length > 0 ? ("ed: " + element.Editors) : "")</p>
            <p>@(element.Description)</p>
        </div>
    </div>
}